.team-container {
  width: 100%;
}

.team-container .row {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.team-container .col {
  padding: 0;
  margin: 0;
  text-align: justify;
}

#teamcard-title {
  text-align: center;
  border: none;
  width: 100%;
  color: white;
  font-family: 'Kulim Park', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

#teamcard-table {
  width: 100%;
  background-color: #d3d3d3;
  text-align: center;
}

#teamcard-table a {
  color: black;
  text-decoration: none;
}

#teamcard-table td {
  border: none;
  font-size: 16px;
  font-family: 'Kulim Park', sans-serif;
  font-weight: bold;
  padding: 8px;
}

#teamcard-table th {
  border: none;
  font-size: 16px;
  font-family: 'Kulim Park', sans-serif;
  font-weight: bold;
  padding: 8px;
}
