.navbar-fixed-top {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #ccc;
}

.navbar .navbar-nav {
  opacity: 0.8;
  margin-top: 30px;
  text-align: right;
  background-color: white;
  border-radius: 6px;
}

.navbar .navbar-nav .nav-item .nav-link {
  font-weight: bold;
  font-size: 22px;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  color: black;
  height: 60px;
  padding: 14px;
  border: 0.1px solid #ccc;
}

@media (min-width: 768px) {
  .navbar {
  }

  .navbar .navbar-nav {
    background: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 0px;
    border-radius: 6px;
    width: 100%;
  }

  .navbar .navbar-nav .nav-item .nav-link {
    border: none;
    color: white;
  }
}
